body {
 overflow: hidden;
 margin: 0%;
 padding: 0%;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-image: url(./images/new.png);
    background-position: center;
    background-size: cover;
    height: 99vh;

}

.container section {
    padding: 80px 10% 40px;
    color: white;


}
html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 10px 60px;
    align-items: center;
}

nav h1 {
    font-weight: 700;
    letter-spacing: 1.3px;
    cursor: pointer;
}

nav ul {
    margin-right: 20px;

}

nav ul li {
    display: inline-block;
    margin: 0px 13px;
    list-style: none;
    cursor: pointer;

}

nav ul li a {
    padding: 10px 35px;
    text-decoration: none;
    color: black;
    font-size: large;
    border-radius: 5px;
    transition: background-color .4s;

}

nav ul li a:hover {
    background-color: orange;
    border: 1px solid orange;
    color: white;
}



nav .fas {
    display: none;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: auto;
    justify-content: space-between;
}

section h2 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    letter-spacing: 1.2px;
}

section p {
    font-size: 20px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 40px;
    padding-left: 30px;
    text-align: justify;

}

section p span {
    padding: 0px 10px;
    color: orange;
}

section ul {
    padding-left: 30px;
}

section ul li {
    text-decoration: none;
    list-style: none;
    padding: unset;
    margin: unset;
    padding: 8px 0px;
    font-size: 18px;
    font-weight: 400;

}

.gallery {
    flex-basis: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    height: 50vh;

}

.gallery img {
    border-radius: 5px;
    width: 90%;
    height: 43vh;

}

.gallery button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#next:hover,
#back:hover {
    background-color: transparent;
    border: 1px solid white;
}

#next {
    width: 15%;
    right: 10%;
    bottom: 0%;
    background-color: rgba(100, 100, 100, 0.445);
    border: 1px solid rgba(100, 100, 100, 0.432);
    border-radius: 20px;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding-bottom: 5px;
}

#back {
    width: 15%;
    left: 10%;
    bottom: 0%;
    background-color: rgba(100, 100, 100, 0.445);
    border: 1px solid rgba(100, 100, 100, 0.432);
    border-radius: 20px;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding-bottom: 5px;

}

.container h1 {
    color: orangered;
    font-size: 18px;

}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

footer a {
    text-decoration: none;
    font-size: large;
    color: white;
    padding: 15px 35px;
    border: 2px solid white;
    margin: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background .4s;
 background: orange;
        color: white;
}

footer a:hover {
    background: rgb(177, 123, 24);
    border: 2px solid orange;
}

@media only screen and (max-width: 576px) {
    
   
    .container section {
        display: flex;
        flex-direction: column !important;
    }

    footer{
        display: flex;
        flex-direction: column;
       
        
    }
    footer a{
        margin: 10px;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width:875px) {
 
 nav {
        justify-content: space-between;
        padding: 1% 3%;
        z-index: +1;

    }

    nav .fas {
        display: block;
        font-size: 25px;
        margin-right: 20px;

    }
    
    nav ul {
        background: white !important;
        position: fixed;
        top: 0%;
        right: -350px;
        width: 250px;
        height: 100vh;
        padding-top: 50px;
        z-index: 3;
        transition: right 0.4s;
        margin: unset;
        text-align: left;
    }

    nav ul li {
        display: block;
        margin: 40px 10px;
        text-align: left;
        justify-content: left;
        text-align: left;

    }

    nav ul li a {
        color: black !important;
        font-size: 18px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    
   

    .container section {
        overflow: visible;
        display: flex;
        flex-direction: column !important;
        
    }

    section{
        flex-direction: column;
    }

    section h2 {
        font-size: 40px;

    }

    section p {
        font-size: 18px;

    }
    .gallery{
        display: none;
    }
   footer a{
        background: orange;
        color: white;
 }
   

}

@media only screen and (max-width:1100px) {
    
 .detail{
        flex-basis: 30%;
    }
    .detail h2{
        font-size: 35px;
    }
    .detail p{
        font-size: 18px;
    }
    .detail ul li{
        font-size: 16px;
    }
    body{
        overflow: unset;
    }
    nav{
        padding-right: unset;
    }
   
    nav ul li a{
        font-size: 16px;
        padding: 10px 5px;
    }
    
}
